@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/feature.css");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 80px 0;
}

.single {
  padding-top: 40px;
  padding-bottom: 40px;
}


.paddeded {
  margin-left: 20%;
  margin-right: 20%;
}

.wrapper-grey {
  background: #F4F4F4;
}

/* Main navbar */
.navbar-wagon {
  font-family: 'Roboto Condensed', sans-serif;
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 15px;
}
.navbar-wagon-link:hover {
  color: #47E6B1;
  text-decoration: none;
}

.border {
  border-right : 0.5px solid black;
  border-left : 0.5px solid black;
  border-top: 0.5px solid  black;
  border-bottom: 0.5px solid black;
}
